---
import { Picture } from '@astrojs/image/components';
import SofiaLight from '~/assets/images/avatar-light.png'; 
import SofiaDark from '~/assets/images/avatar-dark.png'; 

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative md:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="grid grid-cols-2 max-sm:grid-cols-1 py-5 md:py-10">
      <div class="text-center max-w-screen-lg mx-auto lg:mt-0 md:mt-[70px]">
        <div class="pb-5 md:pb-10">
        {
          image && (
            <div class="relative m-auto max-w-5xl block dark:hidden">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto rounded-full"
                  src={SofiaLight}
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={200 / 200}
                  loading="eager"
                  width={200}
                  height={200}
                  alt="Sofia_H_light"
                  {...image}
                />
              )}
            </div>
            <div class="relative m-auto max-w-5xl hidden dark:block">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto rounded-full"
                  src={SofiaDark}
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={200 / 200}
                  loading="eager"
                  width={200}
                  height={200}
                  alt="Sofia_H_dark"
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
      <div class="text-xl max-sm:mt-3">Hi! 👋 I'm</div>
      <div class="text-center pt-2 max-w-screen-lg mx-auto">
        {
          title && (
            <h1
              class="text-6xl md:text-5xl max-sm:text-5xl h-[4rem] md:h-[4rem] lg:h-[3rem] max-sm:h-[3.5rem]
              font-bold font-sofia inline-block text-transparent bg-clip-text font-outline-2 font-outline-1
              bg-gradient-to-r from-blue-300 via-violet-300 to-fuchsia-300 dark:text-white"
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl mx-auto">
          {subtitle && <h2 class="text-xl max-sm:text-sm text-muted mb-3 dark:text-white" set:html={subtitle} />}
        </div>
      </div>
    </div>
    <div class="text-lg text-center mr-[100px] md:text-base md:mr-[50px] max-sm:mr-0 max-sm:my-5">
    I currently work as a <span class="text-2xl">Bioinformatician/System Developer</span> at 
      <a href="https://www.scilifelab.se/" class="text-fuchsia-600 dark:text-blue-200" target="_blank">SciLifeLab</a> 
      in Solna at 
      <a href="https://ngisweden.scilifelab.se/" class="text-fuchsia-600 dark:text-blue-200" target="_blank">NGI</a> 
      (but employed by 
      <a href="https://ki.se/en" class="text-fuchsia-600 dark:text-blue-200">Karolinska Institute</a> 
      as a Bioinformatician- confusing I know!)
      <br>
      I'm a <span class="text-2xl">creative, passionate,</span> and <span class="text-2xl">independant</span> individual. 
      I love to code, particularly in <span class="text-2xl">JavaScript</span>, 
      and I am constantly exploring new techniques and languages to broaden my skill set. 
      <br>Design, especially within the realms of <span class="text-2xl">UX</span> and <span class="text-2xl">graphic design</span>
      , resonates with me on a deep level.
      <br>Beyond the screen, you'll often find me at the <span class="text-2xl">gym</span> or on a <span class="text-2xl">hike.</span> 
      <br>When I'm not immersed in the great outdoors, you might also catch me delving into the virtual realms of <span class="text-2xl">video games.</span>
      However, my greatest joy comes from spending quality time with my <span class="text-2xl">family.</span>
    </div>
  </div>
</section>
